BOT_TOKEN=your_telegram_bot_token
OWNER_ID=your_telegram_user_id
GROUP_CHAT_ID=your_group_chat_id
API_KEY_DEXS=
WHALER_THRESHOLD=500
CUSTOM_VIDEO_PATH=assets/buy_low.jpg
CUSTOM_GIF_PATH=assets/whale_alert.gif
TWITTER_HANDLE=@Nix0049
